# --- Dependências (Pesado demais, nunca suba isso) ---
node_modules/

# --- Build (Arquivos gerados automaticamente) ---
dist/
build/
out/

# --- Variáveis de Ambiente & Segurança (IMPORTANTE) ---
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.production
*.pem

# --- Logs e Arquivos de Erro ---
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# --- Arquivos de Sistema Operacional ---
.DS_Store
Thumbs.db

# --- Editores de Código ---
.vscode/
.idea/
*.swp
*.swo