@import url("https://fonts.googleapis.com/css2?family=Days+One&display=swap");

/* Fundo da página */
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, #000080, #0000cd); /* Fundo em degradê */
  min-height: 100vh
}

/* Contêiner principal */
.container-mae {
  display: flex;
  flex-direction: column; /* Muda a direção para coluna */
  max-width: 1600px;
  margin: 40px auto; /* Centraliza o contêiner */
  padding: 20px;
  background-color: #ffffff;
  border-radius: 20px;
}

/* Barra de navegação */
.container-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; /* Garante espaçamento igual */
}

.navbar {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.font-all {
  font-family: "Days One", sans-serif;
}

/* Logotipo */
.logo {
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  margin-right: 20px;
}

/* Links de navegação */
.nav-links {
  display: flex;
  flex-direction: row;
  gap: 10px;
  color: #b3b3b3;
  font-size: 16px;
}

.nav-links a {
  color: #b3b3b3;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #000000;
}

/* Botões de login e inscrição */
.buttons {
  display: flex;
  gap: 10px;
} 

.login-btn {
  background-color: #cfcfcf;
  border: none;
  padding: 10px 60px;
  border-radius: 10px;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-btn:hover {
  background-color: #b3b3b3;
}

.signup-btn {
  background-color: #000000;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.signup-btn:hover {
  background-color: #333333;
}

/* Estilo do carrossel */
#carouselExampleIndicators {
  width: 50%; /* Faz o carrossel ocupar toda a largura */
  margin: 8rem 0 0 25%; /* Adiciona espaço entre a barra de navegação e o carrossel */
}
